<% if logged_in? %>
  <script type="text/javascript">
    window.currentDetails = <%= render("user.json.jbuilder", user: current_user).html_safe %>;
  </script>
<% end %>

<script type="text/javascript">
  window.siteKey = "<%= Rails.env == "development" ? Rails.application.credentials.captcha_dev[:site_key] : Rails.application.credentials.captcha_prod[:site_key] %>";
</script>

<main id="root">React broke!</main>
