.about {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: $white;

  padding: 4rem 0;

  
  .about-grid {
    margin-top: 3rem;
    
    .column.bio-column {
      display: flex;
      align-items: center;
    }
  }
}