.landing {
  height: calc(100vh + 3px);
  height: calc(var(--vh, 1vh) * 100 + 3px);
  width: 100vw;
  background: $dark;

  * {
    color: $white;
  }

  .primary, .primary * {
    color: $primary;
  }
  
  .name-header {
    width: 100%;
    display: flex;
    justify-content: center;

    .name-svg {
      height: 100%;
      width: 100%;
    }
  }

  .text.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ui.header {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: $regular;

      &.primary {
        font-weight: $bold;
      }

      div {
        display: inline-block;
        margin-right: 0.35rem;
      }
    }
  }
}