.projects {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: $dark;

  padding: 6rem 0;

  .ui.header {
    margin-bottom: 3rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    row-gap: 5rem;
    justify-items: center;
    
    .ui.card.project {
      background: $white;
      margin: 0;
      
      .image {
        width: 100%;
        padding-top: calc(3 / 2 * 100%);
        overflow: hidden;
        position: relative;
  
        img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          max-width: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .extra.content {
        > * {
          padding-right: 1rem;
        }
      }
    }
  }
}