// Primary colors
$dark: #0C1821;
$primary: #DE6E4B;
$white: #DADADA;

$pink: #AD82D0;
$blue: #2454AA;
$green: #487652;

.primary {
  color: $primary;
}

.ui.inverted.menu .item.primary {
  color: $primary;

  a {
    color: $primary;
  }
}

.ui.inverted {
  &.segment, &.menu, &.attached.header {
    background: $dark;
  }
}

.ui.orange.segment:not(.inverted) {
  border-top-color: $primary !important;
}

.ui.button.toggle.active, .ui.buttons .button.toggle.active {
  background-color: $primary !important;
}

.ui.blue.label, .ui.green.label, .ui.pink.label {
  color: $white !important;
}

.ui.pink.label {
  background-color: $pink !important;
  border-color: $pink !important;
}

.ui.blue.label {
  background-color: $blue !important;
  border-color: $blue !important;
}

.ui.green.label {
  background-color: $green !important;
  border-color: $green !important;
}
